@model IEnumerable<InstaSharp.Data.Models.ApplicationUser>

@{
    ViewBag.Title = "Search";
}

<div class="inner-wrapper">
    @if (Model != null && Model.Any())
    {
        foreach (var user in Model)
        {
            <div class="post tight">
                <div class="post__top">
                    <a href="@Url.Action("Details", "Profile", new { @id = user.UserName })">
                        <img src="@Url.Content(String.Format("~/Images/{0}", user.GetPhoto()))" />
                    </a>
                    <a href="@Url.Action("Details", "Profile", new { @id = user.UserName })" class="post__user">@user.UserName</a>
                </div>
            </div>
        }
    }
    else
    {
        <p>No results found.</p>
    }
</div>

